direct-print/build/*
*.DS_Store
direct-print/.vs/*
direct-print/Objs/*
direct-print/test/Plugins/Direct Print.bundle/Contents/Windows64/Direct Print.exp
direct-print/test/Plugins/Direct Print.bundle/Contents/Windows64/Direct Print.lib
